<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewSmart{% block title %}{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='icon/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='icon/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='icon/favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='icon/site.webmanifest')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <span>NewSmart</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if request.endpoint != None %}
        <li class="nav-item">
          <form class="form-inline" action="{{url_for('search_view')}}">
            <input name="q" class="form-control" placeholder="Search News" id="search">
            <button class="btn btn-default">
              <span class="fa fa-search"></span>
            </button>
          </form>
        </li>
        {% endif %}
        {% if not g.user %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('signup_view')}}">Sign up</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('login_view')}}">Log in</a></li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('user_profile_view')}}">
            {{g.user.username}}
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('logout_view')}}">Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, msg in messages %}
  <div class="alert alert-{{category}}">{{msg}}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="container mt-3">
    {% block content %}
    {% endblock %}
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="{{url_for('static', filename='js/newsmart-session.js')}}"></script>
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>

</html>