{% extends 'base.html' %}

{% block title %} - Home {% endblock %}

{% block content %}
<h1 class="text-center">Top News</h1>
<div id="top-articles">
  <ul>
    {% for article in top_articles %}
      {% include 'article_item.html' %}
    {% endfor %}
  </ul>
</div>

{% if g.user %}
<hr>
<h1 class="text-center">Your favorite categories</h1>
<div id="category-articles">
  {% for category, articles in category_map.items() %}
  <div>
    <h2>{{category|capitalize}}</h2>
    <ul>
      {% for article in articles %}
        {% include 'article_item.html' %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

<hr>
<h1 class="text-center">You might also like</h1>
<div id="related-articles">
  <ul>
    {% for article in related_articles %}
      {% if article.url not in bookmarked_urls %}
        {% include 'article_item.html' %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}

<hr>
<div class="text-center">
  <a href="{{url_for('home_view')}}">Home</a>
</div>
{% endblock %}