{% extends 'base.html' %}

{% block title %} - Home {% endblock %}

{% block content %}

{% if g.user %}

<h1 class="text-center">Your favorite categories</h1>
<div id="category-articles">
  {% for category, articles in category_map.items() %}
  <div>
    <h2>{{category|capitalize}}</h2>
    <ul>
      {% for article in articles %}
        {% include 'articles/article_item.html' %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Frontpage Related Posts
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="frontpage-popular-posts pb-80">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h2 class="section-title">Popular News</h2>
        </div>
        <!--~./ end section header ~-->
      </div>
    </div>

    <div class="row" id="related-articles">
      <div class="col-12">
        <div id="popular-posts-carousel" class="owl-carousel carousel-nav-circle">
          {% for article in related_articles %}
            {% if article.url not in bookmarked_urls %}
              {% include 'articles/article_carousel.html' %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!--~./End frontpage related posts ~-->

{% endif %}


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Main Wrapper
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="main-wrapper ptb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <!--~~~~~ Start Site Main ~~~~~-->
        <main class="site-main">
          <div class="row" id="top-articles">
            <div class="col-12">
              <div class="section-header">
                <h2 class="section-title">Around The World</h2>
              </div>
            </div>
            <!--~./ end section header ~-->
            {% for article in top_articles %}
              <div class="col-12 load-post">
                {% include 'articles/article_post.html' %}
              </div>
            {% endfor %}

          </div>
        </main>
        <!--~./ end site main ~-->

        <!--~~~~~ Load More Area ~~~~~-->
        <div class="load-more-area text-center mt-30">
          <button class="btn btn-load-more loadmore">
            <i class="fa fa-spinner"></i>
            Load More
          </button>
          <!--/#loadmore-->
          <span class="no-posts">No more posts</span>
        </div>
        <!--/.load-more-area-->
      </div>

    </div>
  </div>
</div>
<!--~./ end main wrapper ~-->


<hr>
<div class="text-center">
  <a href="{{url_for('home_view')}}">Home</a>
</div>
{% endblock %}