{% extends 'base.html' %}

{% block title %} - Search {% endblock %}

{% block content %}

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Main Wrapper
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="main-wrapper ptb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <!--~~~~~ Start Site Main ~~~~~-->
        <main class="site-main">
          <div class="row" id="search-articles">
            <div class="col-12">
              <div class="section-header">
                <h2 class="section-title">Search Results for '{{phrase}}'</h2>
              </div>
            </div>
            <!--~./ end section header ~-->
            
            {% for article in articles %}
              <div class="col-12 load-post">
                {% include 'article_post.html' %}
              </div>
            {% endfor %}

          </div>
        </main>
        <!--~./ end site main ~-->

        <!--~~~~~ Load More Area ~~~~~-->
        <div class="load-more-area text-center mt-30">
          <button class="btn btn-load-more loadmore">
            <i class="fa fa-spinner"></i>
            Load More
          </button>
          <!--/#loadmore-->
          <span class="no-posts">No more posts</span>
        </div>
        <!--/.load-more-area-->
      </div>

    </div>
  </div>
</div>
<!--~./ end main wrapper ~-->


<hr>
<div class="text-center">
  <a href="{{url_for('home_view')}}">Home</a>
</div>
{% endblock %}